<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>スケミ -軽い！速い！簡単！なスケジュールアプリ-</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kosugi&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header>
    <h1>スケミ<span class="subtitle">-軽い！速い！簡単！なスケジュールアプリ-</span></h1>
  </header>
  <main>
    <div class="input-area">
      <form action="http://localhost:8000/submit" method="post" id="user-form" class="form-wrapper">
        <label for="user-name" class="input-label">ニックネームを入力：</label>
        <input type="text" name="user-name" id="user-name" class="input" placeholder="ニックネーム">
        <input type="submit" value="追加する" class="add-button">
      </form>
      <form action="" id="date-form" class="form-wrapper">
        <label for="base-date" class="input-label">開始日を選択：</label>
        <input type="date" id="base-date" class="input">
      </form>
      <div class="user-button-container">
        <div class="user-button-wrapper">
          <a href="/user/<%= user_ids[0] %>" class="user-button user-button-1"><%=  user_names[0] %></a>
        </div>
        <div class="user-button-wrapper">
          <a href="/user/<%= user_ids[1] %>" class="user-button user-button-2"><%=  user_names[1] %></a>
        </div>
        <div class="user-button-wrapper">
          <a href="/user/<%= user_ids[2] %>" class="user-button user-button-3"><%=  user_names[2] %></a>
        </div>
        <div class="user-button-wrapper">
          <a href="/user/<%= user_ids[3] %>" class="user-button user-button-4"><%=  user_names[3] %></a>
        </div>
        <p class="input-label">スケジュールを入力：</p>
      </div>
    </div>
    <div class="schedule-display-area">
      <table>
        <thead>
          <tr>
            <!-- 空白のセルを1つ用意 -->
            <th></th>
            <!-- ここに、選択された日付から1週間分の th を入れていく -->
          </tr>
        </thead>
          <tbody id='draggable-date-section'>
            <!-- ここに、スケジュール入力用セルを入れていく -->
          </tbody>
      </table>
    </div>
  </main>
  <script type="module" src="js/index.js"></script>
  <script type="module" src="js/allSchedule.js"></script>
</body>
</html>


